<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>ConfigData</key>
	<string>ZU/2xZfTaH1R3av8sPQpumepw69gkX/kH46FKXRzaIUD2Yvl/ZukEexnXDC+yXcq1YdzbbFuEL1lDk2BpmmOkBkJtG/J44OBCzyJvbnjlJTewGUH51I295Zfvb5UOKTY61u5AL7eat8epgLQAwJCo12m7l+t1M4IlIb9Sm7A/DtP8z8js51+PA2BJY0xuW7S5It4F/YlHcBeCfPQ2e6FeaGzEGKOtYmGLgDLZwvRTz8=</string>
</dict>
</plist>
